# +-----------------------------------------------------+
# |                                                     |
# |                                                     |
# |   Do NOT make modifications without maintaining a   |
# |      backup copy.                                   |
# |                                                     |    
# | 							| 
# +-----------------------------------------------------+
# |                                                     |
# | run the the -d as the first parameter for debugging |
# | info and a DOS window                               |
# |                                                     |
# +-----------------------------------------------------+

consoleTitle HEC-SSP 2.1

vmparam -Dlogfile.directory=$APPDATA\HEC\HEC-DSSVue\logs
vmparam -DLOGFILE=$APPDATA\HEC-DSS-Vue\logs\HEC-DSSVue.log
vmparam -Djava.library.path=.\lib
vmparam -Djava.security.policy=jar:file:jar/rma.jar!com/.java.policy
# Specify the Application's main class
mainclass hec.dssgui.HecDssVue
appname HEC-DSSVue
vmparam -DCWMS_HOME=$APPDATA\HEC\HEC-SSP\2.1

#:------------------------------------------------------:
#: Disables VolitileImages in the MapPanel solving      :
#: some bad graphical glitches.				:
#:------------------------------------------------------:
vmparam -DMapPanel.NoVolatileImage=true
vmparam -Dsun.java2d.d3d=false
vmparam -DExcelTable.ignoreCellColors=true

# Tune this VM to provide enough headroom to work on large
# applications
vmparam -Xms64m
vmparam -Xmx2024m
# +-----------------------------------------------------+
# |                                                     |
# | Specify the class path.                             |
# |                                                     |
# +-----------------------------------------------------+
addjars jar
addjars jar/sys

# +-----------------------------------------------------+
# |                                                     |
# | Specify the JVM.  If no JVM is specified then the   |
# | JVM configured in the Windows Registry is used      |
# |                                                     |
# +-----------------------------------------------------+
javapath java/bin/javaw.exe

# Force standard VM settings for all applications
vmparam -Xverify:none

vmparam -DstatePlane.directory=config
vmparam -DDataSetValidParameterListFile=config\db\definitions\parameters_units.def
vmparam -DUNIT_FILE=config\db\definitions\unitConversions.def

# +-----------------------------------------------------+
# |                                                     |
# |    Uncomment the following line if you are having   |
# |   problems with your default file encoding.  This   |
# |         problem is evident in some locales.         |
# |                                                     |
# +-----------------------------------------------------+
#vmparam -Dfile.encoding=ISO8859_1
